.page-list-patients{
    padding: 50px 0;
    
    h1{
        text-align: center;
        margin: 20px 0;
    }
    
    .css-1e2bxag-MuiDataGrid-root{
        font-size: 16px;
    }
    
    .chips{
        background-color: #bbb;
        color: #777;
        padding: 5px 10px;
        border-radius: 5px;
        text-transform: capitalize;
        
        &.alive{
            background-color: rgb(116, 224, 161);
            color: rgb(41, 94, 51);
        }
        
        &.deceased{
            background-color: rgb(216, 125, 125);
            color: rgb(133, 23, 23);
        }
    }
    
    .actions-icons{
        display: flex;
        gap: 20px;
        
        button{
            background: transparent;
            border: none;
            padding: 5px;
            cursor: pointer;
        }
        
        svg{
            color: #726c6c;
            font-size: 16px;
            &:hover{
                color: #1976d2;
            }
        }
    }
    
    .wrapper-button{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }
}