.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
    height: calc(100% - 64px) !important;
    top: unset !important;
    bottom: 0 !important;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop{
    background-color: transparent !important;
}