*{
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

body{
  	height: 100vh;
  	font-family: "Roboto","Helvetica","Arial",sans-serif;
}

#root{
  	height: 100%;
}

.app{
  	height: 100%;
}

.container{
	width: 100%;
	padding: 0 24px;
	height: calc(100% - 64px);
}